@model InmobiliariaAppAguileraBecerra.Models.Contrato

@{
    ViewData["Title"] = "Crear Contrato";
}

<h1 class="mb-4 text-primary">
    <i class="bi bi-file-earmark-text-fill"></i> @ViewData["Title"]
</h1>
<hr />

<div class="shadow-sm p-4 rounded bg-light">
    <form asp-action="Crear">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="mb-3">
            <label asp-for="InquilinoId" class="form-label"></label>
            <select asp-for="InquilinoId" class="form-select" asp-items="ViewBag.Inquilinos"></select>
            <span asp-validation-for="InquilinoId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="InmuebleId" class="form-label"></label>
            <select asp-for="InmuebleId" class="form-select" asp-items="ViewBag.Inmuebles"></select>
            <span asp-validation-for="InmuebleId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FechaInicio" class="form-label"></label>
            <input asp-for="FechaInicio" class="form-control" />
            <span asp-validation-for="FechaInicio" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FechaFin" class="form-label"></label>
            <input asp-for="FechaFin" class="form-control" />
            <span asp-validation-for="FechaFin" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Monto" class="form-label"></label>
            <input asp-for="Monto" class="form-control" />
            <span asp-validation-for="Monto" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <input type="submit" value="Crear" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Volver</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
